@font-face {
    font-family: 'CrimsonText';
    src: url(CSS/Fonts/CrimsonText-Regular.ttf) format('truetype'),
    url(CSS/Fonts/CrimsonText-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Lato';
    src: url(CSS/Fonts/Lato-Regular.ttf) format('truetype'),
    url(CSS/Fonts/Lato-Regular.woff2) format('woff2');
}

:root{
    --cream-100:#FFE2D5;
    --pink-100:#FFF0F3;
    --pink-200:#FFCCD5;
    --pink-300:#FF8FA3;
    --pink-400:#FF4D6D;
    --pink-500:#590D22;
    --pink-600:#2D0510;
    --green-500:#115745;

    --background:var(--cream-100);
    --foreground:var(--pink-600);
    --links:var(--green-500);
}

/*others*/
html{
    box-sizing: border-box;
    background-color: var(--background);
    max-width: 1000px;
    margin: 0 auto;
}

body{
    color: var(--foreground);
}

div{}
    #head{
        display: flex;
        justify-content: space-between;
    }

    .separator{
        height: 1.75rem;
    }

    .NaviMenu{
        background-color: var(--pink-400);
        color: var(--pink-100);
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 12.5rem;
        z-index: 2;
    }

    #gifcontainer, #aboutMeDes{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

hr{
    border: .2rem solid var(--pink-600);
    margin: 0 auto 2rem;
}
    .separJobs{
        border: .001rem solid var(--pink-600);
        margin: auto
    }

/* Buttons */
button{
    cursor: pointer;
    background-color: var(--pink-400);
    color: var(--pink-100);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem auto 2.5rem;
    padding: 1rem;
    border: .25rem solid var(--pink-600);
    border-radius: 2rem;
}
    .openMenu{
        background-color: transparent;
        border: transparent;
        margin: 0;
        padding: 0;
    }
        #hammenu, #logo{
            max-width: 75px;
            height: auto;
            align-self: center;
        }
    .closeMenu{
        font-size: 3rem;
        border: none;
        margin: 0 0 0 8rem;
    }
    .popups{
        background-color: var(--pink-400);
        color: var(--pink-100);
        margin: 0;
        padding: 1rem;
        border: 0;
        border-radius: 0;
    }
    button:hover{
        color: var(--links);
    }
    #NextBack{
        display: flex;
        justify-content: space-evenly;
        margin: 1.5rem auto;
    }

    #prototypeLink{
        display:flex;
        justify-self: center;
    }

    #downloadable{
        font-size: 1.1rem;
        justify-self: center;
    }

    a{
        text-decoration: none
    }
        #LinkedIn{
            color:var(--green-500);
            text-decoration: underline;
        }

/*text*/
h1, h2, h3, h4, h5{
    font-family: 'CrimsonText', Georgia, 'Times New Roman', Times, serif;
    margin: 1rem auto 0;
}
    h1{
        font-size: 2.5rem;
    }
        .casestudy{
            margin: 0 auto 1rem;
            text-align: center;
        }

    h2{
        font-size: 1.75rem;
    }

    h3{
        font-size: 1.2rem;
        margin: .2rem auto;
    }
        .navi{
            font-size: 1.5rem;
            padding: 1rem;
            text-decoration: underline;
        }

        .resumeHeads{
            font-size: 1.5rem;
        }

    h4{
        font-size: 1.25rem;
        margin: .5rem auto .75rem;
        text-align: center;
    }
        .studysHead{
            font-size: 1.5rem;
            margin: 1.5rem auto .75rem;
        }


        #link{
            text-align: center;
        }

    .titles, .subtitle, .HomeToStudies, h4{
        display: flex;
        justify-content: center;
    }
        .subtitle{
            margin-bottom: .75rem;
            text-align: center;
        }
p{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: .1rem .5rem .5rem;
}
    .caption{
        font-size: .75rem;
        margin: .1rem .5rem 1.5rem;
        text-align: center;
    }

    .other{
        margin: .1rem .5rem 1.5rem;
        text-align: center;
    }

    #personalDes{
        margin-bottom: 1rem;
    }

ul{}
    .jobDes{
        margin-left: 1.75rem;
    }

li{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: .5rem;
}
    .experiTitle{
        list-style-type: none;
        margin-bottom: .1rem;
    }

/*images*/
picture{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem auto;
    max-width: 1000px;
}

    #selfie{
        height:100%;
        width: 12rem;
    }

.gif{
    height:100%;
    width: 21.19rem;
    margin: .5rem auto;
}

/*Styling for JS*/

.hideme{
    display: none;
}