@font-face {
    font-family: 'CrimsonText';
    src: url(CSS/Fonts/CrimsonText-Regular.ttf) format('truetype'),
    url(CSS/Fonts/CrimsonText-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Lato';
    src: url(CSS/Fonts/Lato-Regular.ttf) format('truetype'),
    url(CSS/Fonts/Lato-Regular.woff2) format('woff2');
}

:root{
    --cream-100:#FFE2D5;
    --pink-100:#FFF0F3;
    --pink-200:#FFCCD5;
    --pink-300:#FF8FA3;
    --pink-400:#FF4D6D;
    --pink-500:#590D22;
    --pink-600:#2D0510;
    --green-500:#115745;

    --background:var(--cream-100);
    --foreground:var(--pink-600);
    --links:var(--green-500);
}

/*others*/
html, body{
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--foreground);
    margin: 0 auto;
    padding: 0;
}

/*divs + related boxes*/
div{}
    #head{
        display: flex;
        justify-content: space-between;
        background-color: var(--pink-400);
    }
    .separator{
        height: 1.75rem; 
    }
    .NaviMenu{
        background-color: var(--pink-400);
        color: var(--pink-100);
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 2;
    }
        .NaviMenuFoot{
            position: relative;
            display: flex;
            justify-content: right;
            align-content: center;
            background-color: transparent;
            margin: auto;
            text-align: center;
            .navi{
                display: none;
            }
            a{
                line-height: 1.5rem;
            }
        }
    #gifcontainer, #aboutMeDes{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #IntroText{
        margin: auto .6rem;
    }

    #contactInfo{
        margin: auto .5rem auto;
    }

hr{
    border: .2rem solid var(--pink-600);
    margin: 0 0 2rem;
}
    .separJobs{
        border: .001rem solid var(--pink-600);
        margin: auto
    }

    .separSection{
        border: .1rem solid var(--pink-600);
        margin-top: 1.5rem;
    }

/* Buttons */
a{
    cursor: pointer;
    background-color: var(--pink-400);
    color: var(--pink-100);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem auto 2.5rem;
    padding: 1rem;
    border: .25rem solid var(--pink-600);
    border-radius: 2rem;
    text-decoration: none
}
    .openMenu{
        background-color: transparent;
        border: transparent;
        margin: auto .5rem auto auto;
        padding: 0;
    }
        #hammenu, #logoBut{
            max-width: 75px;
            height: auto;
            background-color: transparent;
            border: transparent;
            margin: auto auto auto .05rem;
        }
    
    .closeMenu{
        font-size: 3rem;
        border: none;
        margin: 0 0 0 8rem;
        background-color: transparent;
    }
    .popups{
        background-color: var(--pink-400);
        color: var(--pink-100);
        margin: 0;
        padding: 1rem;
        border: 0;
        border-radius: 0;
        line-height: 3rem;
    }
    a:hover{
        color: var(--links);
    }
    #NextBack{
        display: flex;
        justify-content: space-evenly;
        margin: 1.5rem auto 0;

        a:hover{
          background-color: var(--pink-300);
        }
    }
        .caseNavi{
            border: none;
            border-radius: 0;
            margin: 0 auto 0;
            text-align: center;
            width: 100%;
        }
    #prototypeLink{
        display:flex;
        justify-self: center;
        margin: auto 10rem 1.5rem;
    }
    #downloadable{
        display:flex;
        justify-self: center;
        font-size: 1.1rem;
        margin: 1.5rem 2rem;
        text-align: center
        
    }
        .ContentLinks{
            background-color: transparent;
            border: none;
            color:var(--green-500);
            font-size: 1.1375rem;
            padding: 0;
            margin: auto .5rem 1.5rem;
            text-decoration: underline;
        }

/*text*/
h1, h2, h3, h4, h5{
    font-family: 'CrimsonText', Georgia, 'Times New Roman', Times, serif;
    margin: 1rem auto 0;
}
    h1{
        font-size: 2.5rem;
    }
        .casestudy{
            margin: 0 auto 1rem;
            text-align: center;
        }

    h2{
        font-size: 1.75rem;
        margin: 1rem auto;
    }
        mark{
            background-color: var(--pink-400);
        }

        .ThumbnailTitles{
            text-align: center;
        }

        .resumeHeads{
            margin: auto .5rem auto;
        }

    h3{
        font-size: 1.2rem;
        margin: .2rem auto;
    }
        .navi{
            font-size: 1.5rem;
            padding: 1rem;
            text-decoration: underline;
        }
        .jobPos{
            font-family: 'Lato', Arial, Helvetica, sans-serif;
            font-size: 1.1375rem;
            margin: .5rem .75rem auto;
        }

    h4{
        font-size: 1.25rem;
        margin: .5rem auto .75rem;
        text-align: center;
    }
        .studysHead{
            font-size: 1.5rem;
            margin: 1.5rem auto .75rem .75rem;
            text-align: left;
        }

    .titles, .subtitle, .HomeToStudies{
        display: flex;
        justify-content: center;
    }
        .subtitle{
            margin-bottom: .75rem;
            text-align: center;
        }
        .HomeToStudies{
            width: 21.1875rem;
            margin-bottom: 5rem;
        }
p{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: .1rem .75rem .5rem;
}
    .caption{
        font-size: .875rem;
        margin: .1rem .5rem 1.5rem;
        text-align: center;
    }
    .other{
        margin: .1rem .5rem 1.5rem;
        text-align: center;
    }
    #personalDes{
        margin-bottom: 1rem;
    }

    .jobDets, ul.jobDes li, .EduDets{
        font-size: 1rem;
    }

    ul.jobDes li{
        margin-left: 1.75rem;
    }

    ul.EduDes{
        margin: .25rem auto 1rem;

        li{
            font-size: 1rem;
        }
    }
    
li{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}


/*images*/
picture{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem auto;
    max-width: 1000px;
}
    .ExImg img{
        border: .75rem solid var(--pink-500);
        border-radius: 1.8rem;
    }

    #selfie{
        height:100%;
        width: 12rem;
        border: .75rem solid var(--pink-500);
        border-radius: 1.8rem;
        margin-bottom: 1rem;
    }

.gif{
    height:100%;
    width: 21.19rem;
    margin: .5rem auto;
}

/*Styling for JS*/
.hideme{
    display: none;
}

@media screen and (min-width: 600px) {
/*Navigation Styling*/
        .popups{
            background-color: transparent;
            color: var(--pink-100);
            width: 7.75rem;
            margin-top: 1.75rem;
        }
        a{
            margin-bottom: 1rem;
        }

        #logoBut{
            margin: auto auto auto .5rem;
        }

/*text*/
    #IntroText{
        margin: auto 1.5rem;
    }
    #Thumbnails{
        display: flex;
        flex-direction: column;
    }
    .HomeToStudies{
            margin: .5rem auto 5rem;
        }

/*images*/
    #SideBySide{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin: 0 10rem;
    }
        #SideBySide p{
            grid-row: 2/3;
        }
        #SideBySide picture{
            margin: 0 auto;
        }

    .gif{
    height: 100%;
    width: 30.25rem;
    }

    #selfie{
        height:100%;
        width: 24rem;
        border-radius: 3rem;
    }
}

@media screen and (min-width: 1000px) {
    /*Navigation Styling*/
        .openMenu, .closeMenu, .navi{
            display: none;
        }
            .NaviMenu, .hideme{
                position: relative;
                display: flex;
                justify-content: right;
                align-content: center;
                background-color: transparent;
                margin: auto 10rem auto auto;
                text-align: center;
            }
            .popups{
                background-color: transparent;
                color: var(--pink-100);
                width: 7.75rem;
                margin: 1.75rem auto 0 0 ;
            }

            #logoBut{
                margin: auto auto auto 10rem;
            }

                .HomeToStudies{
                    margin: .5rem auto 6rem;
                }

    /*Divs + other boxes*/
        #NextBackColor{
            background-color: var(--pink-400);
            margin: 1rem auto auto;
        }
            #NextBack{
                width: 80vw
            }

        #ResContent{
            margin: auto 15rem auto;
        }

        hr{
            margin: auto 10rem auto;
        }
            .separHeader{
                margin: 0 0 2rem;
            }

            .separSection{
                margin: 1.5rem 0;
            }

        #contactInfo{
            margin: auto 12rem;
        }
        
    /*text*/
        p{
            font-size: 1.3rem;
            margin: .1rem 12rem 1.75rem;
            line-height: 1.5rem;
        }
            .caption{
                font-size: 1rem;
                margin: .1rem .5rem 1.5rem;
                text-align: center;
            }

            #IntroText{
                margin: auto 15rem;
            }

            .studysHead{
                margin: auto 12rem .5rem;
            }

            .other{
                margin: auto 15rem 1.5rem
            }

            .jobDets, .EduDets{
                margin: auto .75rem auto;
            }

    }

@media screen and (min-width: 1300px) {
    #aboutMeDes{
        flex-direction: row;
        margin: auto 15rem;
    }

    #personalDes{
        margin: auto 1rem auto;
    }

    #contactInfo{
        margin: auto 15rem;
    }
}